/* Definições gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo global para links com efeito suave de rolagem */
html {
  scroll-behavior: smooth;
}

/* Estilo do corpo da página */
body {
  font-family: 'Poppins', sans-serif;
  background-image: url('/accets/imgs/v882-kul-66.jpg');
  background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
  background-position: center; /* Define a posição da imagem no centro do elemento */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
}

/* Remover sublinhado de links */
a {
  text-decoration: none;
}

/* Espaçamento para o menu */
.menu-spacing {
  height: 4rem;
}

/* Estilo para seções específicas */
.my-section {
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
