* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    
    
  }
  a {
    text-decoration: none;
}


.menu-spacing {
  height: 4rem;
}

.my-section{
  
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}